header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  justify-items: center;
  align-items: center;
  padding: 92px 24px 92px 24px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  width: 392px;
  list-style: circle;
}

.header__links-list-item_no-bullet {
  list-style-type: none;
}

.header__link {
  margin-right: 6px;
  text-decoration: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.header__link_active {
  border-style: none;
}

.header__logo-image {
  height: 105px;
}

address {
  font-style: normal;
}

.header__adress {
  margin-left: 125px;
  line-height: 135%;
}

.header__adress a {
  text-underline-offset: 4px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 165px 50px 50px 50px;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover__title {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 132px;
}

.aligned-text-center {
  text-align: center;
  line-height: 135%;
}

.aligned-text-right {
  text-align: right;
  line-height: 105%;
  letter-spacing: 0.3em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: normal;
  word-spacing: 0.84em;
  margin-left: 28px;
}

.bet-button {
  padding: 12px 32px 12px 32px;
  background-color: transparent;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  text-wrap: nowrap;
}

.lots {
  padding: 178px 24px 0 24px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-top: 2px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding-top: 28px;
  padding-bottom: 30px;
  list-style-type: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 1;
  font-size: 22px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  padding: 51px 40px 0 40px;
}

.card__text {
  z-index: 1;
  font-size: 20px;
  line-height: 1.2em;
  color: rgb(255, 255, 255);
  padding: 0 40px 48px 40px;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 12px;
  padding: 149px 24px 0 24px;
}

.about__logo {
  height: 240px;
  width: 240px;
  justify-self: center;
  margin-top: 35px;
  margin-right: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 240px;
}

.about__logo-image {
  display: block;
  margin: 19% auto;
  height: 62%;
  width: 62%;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 136px;
  padding-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 1.2em;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 149px 1fr;
  padding: 180px 50px 88px 50px;
  font-size: 18px;
}

.footer__adress {
  line-height: 1.36em;
  text-underline-offset: 4px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  text-underline-offset: 4px;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}